<html>
<% if @game.turn.odd? %>
<%= @game.player1.player_name %> attacked <%= @game.player2.player_name %> and caused <%= @damage %> damage.
<% elsif @game.turn.even? %>
<%= @game.player2.player_name %> attacked <%= @game.player1.player_name %> and cause <%= @damage %> damage.
<% end %>

<% if @game.player1.player_hp > 0 && @game.player2.player_hp > 0%>
  <form action="/fight" method="get">
    <input type="submit" value="Next Turn">
  </form>
<% elsif @game.player1.player_hp <= 0 || @game.player2.player_hp <= 0%>
  <form action="/game_over" method="get">
    <input type="submit" value="Next Turn">
  </form>
<% end %>
</html>
