<!DOCTYPE html>
<html>
  <head>
    <title>Attack!</title>
    <link href="css/attack.css" type="text/css" rel="stylesheet">
  </head>

  <body>
      <div id="player1_column">
        <div id="player_name"><%= @game.player1.player_name %></div>
        <div id="player_hp"><%= @game.player1.player_hp %> HP</div>
        <div id="player_label">Player 1</div>
        <iframe src="images/player_1_image.gif"></iframe>
      </div>

      <div id="player2_column">
        <div id="player_name"><%= @game.player2.player_name %></div>
        <div id="player_hp"><%= @game.player2.player_hp %> HP</div>
        <div id="player1_sprite_wrapper">
          <div id="player_label">Player 2</div>
          <iframe src="images/player_2_image.gif">
        </div>
      </div>

    <div id="center_column">
      <div id="message_visual">
        <% if @game.game_over %>
          <div id="game_over_message"> GAME OVER </div>
        <% elsif @game.turn.odd?  %>
          <iframe src="images/arrow_right.gif"></iframe>
        <% else %>
          <iframe src="images/arrow_left.gif"></iframe>
        <% end %>
      </div>
    </div>

    <div id="attack_message">
      <% if @game.turn.odd? %>
        <%= @game.player2.player_name %> attacked <%= @game.player1.player_name %> and caused <%= @damage %> damage.
      <% else %>
        <%= @game.player1.player_name %> attacked <%= @game.player2.player_name %> and caused <%= @damage %> damage.
      <% end %>
    </div>

    <div id="next_turn_button">
      <% if @game.game_over %>
        <form action="/game_over" method="post">
          <input type="submit" value="Game Over">
        </form>
      <% else %>
        <form action="/fight" method="get">
          <input type="submit" value="Next Turn">
        </form>

        <form action="/" method="post">
          <input type="submit" value="Quit Game">
        </form>
      <% end %>
    </div>
  </body>
</html>
