<!DOCTYPE html>
<html>
<head>
  <title>Attack!</title>
  <link href="css/attack.css" type="text/css" rel="stylesheet">
</head>

<body>
  <div id="player1_column">
    <div id="player_name"><%= @game.player1.player_name %></div>
    <div id="player_hp"><%= @game.player1.player_hp %> HP</div>
    <div id="player_label">Player 1</div>
    <iframe id="player_sprite" src="images/player_1_image.gif"></iframe>
  </div>

  <div id="player2_column">
    <div id="player_name"><%= @game.player2.player_name %></div>
    <div id="player_hp"><%= @game.player2.player_hp %> HP</div>
    <div id="player_label">Player 2</div>
    <iframe id="player_sprite" src="images/player_2_image.gif"></iframe>
  </div>

  <div id="center_message_y">
    <div id="center_message_x">
      <% if @game.game_over %>
          <form action="/" method="post">
            <input id="game_over_message" type="submit" value = "GAME OVER">
          </form>
      <% elsif @game.turn.odd?  %>
        <div id="attack_message">
          <%= @game.player2.player_name %> attacked <%= @game.player1.player_name %> and caused <%= @damage %> damage.
        </div>
      <% else %>
        <div id="attack_message">
          <%= @game.player1.player_name %> attacked <%= @game.player2.player_name %> and caused <%= @damage %> damage.
        </div>
      <% end %>
    </div>
  </div>


  <% if @game.game_over %>
    <div id="quit_game_button_row" >
      <div id="quit_game_button_wrapper">
        <form action="/" method="post">
          <input id="quit_game_button" type="submit" value="Quit Game">
        </form>
      </div>
    </div>
  <% else %>
    <div id="next_turn_button_row">
      <div id="next_turn_button_wrapper">
        <form action="/fight" method="get">
          <input id="next_turn_button" type="submit" value="Next Turn">
        </form>
      </div>
    </div>
    <div id="quit_game_button_row" >
      <div id="quit_game_button_wrapper">
        <form action="/" method="post">
          <input id="quit_game_button" type="submit" value="Quit Game">
        </form>
      </div>
    </div>
  <% end %>
</body>
</html>
