<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/fight.css" type="text/css">
    <audio autoplay>
      <source src="audio/fight_audio.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
  </head>

  <body>
    <div id="player1_column">
      <div id="player_name"><%= @game.player1.player_name %></div>
      <div id="player_hp"><%= @game.player1.player_hp %> HP</div>
      <div id="player_label">Player 1</div>
      <iframe src="images/player_1_image.gif"></iframe>
    </div>

    <div id="player2_column">
      <div id="player_name"><%= @game.player2.player_name %></div>
      <div id="player_hp"><%= @game.player2.player_hp %> HP</div>
      <div id="player1_sprite_wrapper">
        <div id="player_label">Player 2</div>
        <iframe src="images/player_2_image.gif"></iframe></a>
      </div>
    </div>


  <div id="button_wrapper">
    <div id="attack_button_wrapper">
      <% if @game.turn.odd? %>
        <form method="get" action="/attack">
          <input id="attack_button" type="submit" value="<%= @game.player1.player_name %>, Attack!">
        </form>
      <% else %>
        <form method="get" action="/attack">
          <input id="attack_button" type="submit" value="<%= @game.player2.player_name %>, Attack!">
        </form>
      <% end %>
    </div>

    <div id="quit_game_button_wrapper">
      <form action="/" method="post">
        <input id="quit_game_button" type="submit" value="Quit Game">
      </form>
    </div>
  </div>


</html>
