<img src="https://twistedsifter.files.wordpress.com/2013/05/animated-gifs-of-fighting-game-backgrounds-48.gif?w=768&h=384" style='position:fixed;top:0px;left:0px;width:110%;height110%;z-index:-1;'>

<audio controls autoplay>
 <source src="http://66.90.93.122/ost/street-fighter-2-turbo/tqwbodpekf/27.-cammy-stage.mp3" type="audio/mpeg">
 Your browser does not support the audio element.
</audio>


<html>
<head>
<style>
  h1{
    color:red;
    font-family: "Feast of Flesh BB";
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 300%;
  }

  h2{
    color:red;
    font-family: "Monsters Attack!";
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 150%
  }

  p{
    color: black;
    font-family: "Monsters Attack!";
    text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
    font-size: 100%
  }
</style>
</head>


<div style="position:fixed;top:30px;left:30px">
    <h1 id="player1_label">Player 1</h1>
    <p id="player1_name"><%= @game.player1.player_name %></p> - <p id="player1_hp"><%= @game.player1.player_hp %> / 100HP</p>
</div>

<div style="position:fixed;top:30px;right:30px">
    <h1 id="player2_label">Player 2</h1>
    <p id="player2_name"><%= @game.player2.player_name %></p> - <p id="player2_hp"><%= @game.player2.player_hp %> / 100HP</p>
</div>

  <div>
    <iframe src="//giphy.com/embed/Jmv56riXdGoHm" style='position:fixed;bottom:65px;left:30px' width="239.49895615866387" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></a>
    <iframe src="//giphy.com/embed/xUPGcFU8QyGj1GLt3a" style='position:fixed;bottom:65px;right:30px' width="248.74493927125508" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></a>
  </div>


  <% if @game.turn.odd? %>
    <form action="/attack">
      <input type="submit" value="<%= @game.player1.player_name %> Attack!" style="position:fixed;bottom:50px;left:667px;width:100px">
    </form>
  <% else %>
    <form action="/attack">
      <input type="submit" value="<%= @game.player2.player_name %> Attack!" style="position:fixed;bottom:50px;left:667px;width:100px">
    </form>
  <% end %>

  <div id="quit_game_button">
    <form action="/" method="post">
      <input type="submit" value="Quit Game">
    </form>
  </div>


</html>
